


/* ===== GLOBAL ===== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.nunito-regular {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.nunito-bold {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Nunito", cursive;
}

/* ===== HEADER LAYOUT ===== */
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  padding: 12px 16px;
  background-color: #f5f5f5;
}

/* Left side of the header*/
.header-left {
  display: flex;           /* horizontal layout */
  align-items: center;     /* vertically center everything */
  gap: 30px;               /* space between name and nav */
}

/* Name styling */
.header-left .name {
  font-size: 1.3em;
  font-weight: bold;
}

/* Navbar list */
.header-nav ul {
  list-style: none;
  display: flex;           /* horizontal links */
  gap: 8px;               /* space between links */
}

/* Links styling */
.header-nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s;
}

.header-nav a:hover {
  color: #0077ff;
}

/* Right side of the header */

.header-right a {
  font-size: 1.2em;
  color: #333;
  text-decoration: none;
  transition: color 0.2s ease;

}
.header-right img {
  width: 22px;
  height: 22px;
  margin-right: 15px;
  display :inline-block;
}

section {
  padding: 100px 20px;
  min-height: 100vh;
}
/* ===== FOOTER ===== */
footer {
  text-align: center;
  padding: 20px;
  border-top: 2px solid black;
  margin-top: 40px;
}



#home {
  min-height: 150vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



#home h1 {
  font-family:  monospace;
  font-size: 2.5rem;
}



#scroll-type {
  display: inline-block;
  min-width: 1ch;
}

.cursor {
  display: inline-block;
  margin-left: 2px;
  animation: blink 1s infinite;
}


@keyframes blink {
  50% { opacity: 0; }
}
